.App {
  text-align: center;
}

.App-header {
  background-image: url('img/WhatsApp Image 2023-06-06 at 01.51.01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;

}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  opacity: 0.8;
  /*background-color: #a1a4a6;*/
}

.form-container {
  background-color: #0d0d0d;
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 999;
  width: 100%;
}